.img {
	max-width: 100%;
	height: auto;
}

.flex-container  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
        background: rgb(255, 255, 255);
  }
  
      .logo, .navigation {
        color: #474747;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        list-style: none;
        text-transform: uppercase;
      }
  
      .logo a, .navigation a {
          text-decoration: none;
          letter-spacing: .25rem;
      }
  
  .navigation  {
    display: flex;
  }
  
  .navigation a {
    display: block;
    padding: 1em;
    color: #474747;
  }
  
  .navigation a:hover {
      color: #bdbdbd;
  }
  
  
  @media all and (max-width: 1920px) {
    .flex-container {
      flex-direction: row;
    }
    
    .logo {
    margin: 0;
  }
    
    .navigation  {
      width: 100%;
      justify-content: space-around;
    }
  
  

  @media all and (max-width: 1200px) {
    .flex-container {
      flex-direction: column;
    }
    
    .logo {
      margin: 0;
      align-self: flex-start;
  }
    
    .navigation  {
      width: 100%;
      justify-content: space-around;
    }
  
  
  
  @media all and (max-width: 600px) {
   
    .logo {
      margin-top: auto 0;
      align-self: flex-start; 
}
    
    .navigation {
      width: 100%;
      flex-direction: column;
    }
    
    .navigation a { 
      text-align: center; 
      padding: 20px;
      border-top: 1px solid rgba(255,255,255,0.3); 
      border-bottom: 1px solid rgba(0,0,0,0.1); 
    }
    
    .navigation li:last-of-type a {
      border-bottom: none;
    }
  }

  .center-Container{
    width:100%;
  }

  .flex-container2 {
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;   
    background: black;
    align-items: vertical;

  }

.spacerLeft{
  width:100%;
  height: 125px;
  flex-grow:2;
}
.spacerRight{
  width:100%;
  height: 125px;
}

  .flex-1 {
    margin-top:30px;
    padding:20px;
}


.social-2{
  margin-top:30px;
  padding:20px;
}

.social-3{
  margin-top:30px;
  padding:20px;
}

.logotypeContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}




















