img{ 
  width:100%;
}

h1{
  color: #474747;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size:1.5rem;
}

h2{
  color: #474747;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size:1rem;
}

p{
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size:1.25rem;
}

p1{
  color: #474747;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size:1rem;
}


a.ex1:link{
  color: #474747;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size:1rem;
  text-decoration: none;
}

a.ex1:hover{
  color: #c90404;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size:1rem;
  text-decoration: none;
}

.flex-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content:center;
  background: rgb(255, 255, 255);
}
  
.logo, .navigation {
  color: #474747;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  list-style: none;
  text-transform: uppercase;
}
  
.logo a, .navigation a {
    text-decoration: none;
   letter-spacing: .25rem;
}
  
.navigation  {
  display: flex;
}
  
.navigation a {
  display: block;
  padding: 1em;
  color: #474747;
}
  
  .navigation a:hover {
      color: #bdbdbd;
  }
  
  
  @media all and (max-width: 1920px) {
    .flex-container {
      flex-direction: row;
      align-items: flex-start;
    }
 
    .navigation  {
      width: 100%;
      justify-content: space-around;
    }
  }
  

  @media all and (max-width: 1300px) {
    .flex-container {
      flex-direction: row;
    }
 
    .navigation  {
      width: 100%;
      justify-content: space-around;
    }
  }
  
  
  @media all and (max-width: 950px) {
    .flex-container {
      display: flexbox;
      flex-direction: column;
      align-content:left;
    }
   
    .navigation {
      width: 90%;
      flex-direction: column;
    }
    
    .navigation a { 
      text-align: center; 
      padding: 20px;
      border-top: 1px solid rgba(255,255,255,0.3); 
      border-bottom: 1px solid rgba(0,0,0,0.1); 
    }
    
    .navigation li:last-of-type a {
      border-bottom: none;
    }
  }

  @media all and (max-width: 300px) {
   
    .navigation {
      width: 100%;
      flex-direction: column;
    }
    
    .navigation a { 
      text-align: center; 
      align-items:center;
      padding: 20px;
      border-top: 1px solid rgba(255,255,255,0.3); 
      border-bottom: 1px solid rgba(0,0,0,0.1); 
    }
    
    .navigation li:last-of-type a {
      border-bottom: none;
    }
  }

  img{ 
    width:100%;
  }

  .logoContainer {
    width:100%;
    max-width:600px;
 }

  .center-Container{
    display:flex;
    align-content: center;
    padding: 10% 10% 10% 10%;
    flex-direction:column;
  }
 
  .caseStudiesHeader{
    display:flex;
    align-items: center;
    padding: 10% 10% 0% 10%;
  }

  .caseStudyContainer1 {
    display:flex;
    align-items: center;
    flex-direction:column;
    padding: 1% 10% 20% 10%;
  }

  .footer-container {
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;   
    background: black;
    align-items: vertical;
}

.spacerLeft{
  width:100%;
  height: 125px;
  flex-grow:2;
}

.spacerRight{
  width:100%;
  height: 125px;
}

.BehanceIcon {
   width:10vh;
   margin-top:30px;
   padding:20px;
}

.MailIcon{
  width:10vh;
  margin-top:34px;
  padding:20px;
}

.LinkedInIcon{
  width:10vh;
  margin-top:30px;
  padding:20px;
}

.logotypeContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}

@media all and (max-width: 950px) {
  .contact-Container {
    display: flexbox;
    flex-direction: column;
    padding: 10% 10% 10% 10%;
  }
}


.contact-Container{
  display:flex;
  align-content: center;
  padding: 10% 10% 15% 10%;
}




a { 
  text-decoration: none;
}

.caseStudy1 {
  margin:5px;
  position: relative;
  width: 100%;
}

.TSAimage  {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle1 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.caseStudy1:hover .TSAimage {
  opacity: 0.3;
}

.caseStudy1:hover .middle1 {
  opacity: 1;
}

.text1 {
  background-color: #c90404;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  text-decoration:none;
}

.caseStudyText {
  padding-bottom:75px;
}



.caseStudy2 {
  position: relative;
  width: 100%;
  margin:5px;
}

.ACLUimage  {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.caseStudy2:hover .ACLUimage {
  opacity: 0.3;
}

.caseStudy2:hover .middle2 {
  opacity: 1;
}

.text2 {
  background-color: #c90404;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.a {
  background-color: #c90404;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.caseStudyACLU {
  display:flex;
  align-content: center;
  padding: 1% 10% 10% 10%;
  flex-direction:column;
}


.pencils{
  vertical-align:bottom;
  margin-bottom:-1%;

}

.TSAlogo{
  width:100%;
  max-height:300px;
  max-width:300px;
}

.caseStudyImages {
  margin-bottom: 50px;
}

/**
video {
  width: auto;
  max-height: 700px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 50px;

}
**/


/**
.dropbtn {
  background-color: #ffffff;
  color: 474747;
  padding: 16px;
  font-size: 16px;
  width:200px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  text-align:center;
  position: absolute;
  background-color: #ffffff;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(96, 96, 96, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color:rgb(196, 23, 23);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgb(238, 238, 238);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #ededed;}

**/














